<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%- include('../partials/font-awesome-css.ejs')%>
    <link rel="stylesheet" href="../public/style.css">
    <title>Homepage</title>
    <style>
        .panel-body{
            background-color: #f5f5f5;
            width: 80%;
            margin: auto;
            margin-top: 80px;
            margin-bottom: 80px;
            padding: 20px;
        }
    </style>
  </head>
  <body>
    <%- include('../partials/bootstrap-navbar.ejs')%>

    <div class="panel-body">
        <h3>Tentang Kami</h3>
        <p>Ketahanan pangan menjadi salah satu prioritas utama program pembangunan nasional mengingat pangan memiliki nilai strategis terkait dengan kebutuhan masyarakat yang paling mendasar serta aspek ketahanan sosial, stabilitas ekonomi, stabilitas politik, dan keamanan. Dalam kaitan tersebut, dirasakan perlu adanya pengembangan Pusat Informasi Harga Pangan Strategis (PIHPS) sebagai salah satu bagian dari penguatan program ketahanan pangan untuk mencapai tujuan akhir yaitu peningkatan dan pemerataan kesejahteraan masyarakat.</p>
        <p>Minimnya informasi harga bahan pangan yang terpercaya akan mempengaruhi efisiensi keputusan yang diambil oleh para pelaku ekonomi di tingkat nasional dan daerah. Akumulasi dari ekspektasi negatif masyarakat akibat adanya <em>asymmetric information</em> berpotensi menimbulkan gejolak harga yang pada gilirannya dikhawatirkan dapat mempengaruhi stabilitas ekonomi makro. Ketidakjelasan dan kurang terintegrasinya informasi harga akan juga berpengaruh pada kestabilan harga pangan. Selain mata rantai distribusi yang panjang, kurang adanya informasi yang terintegrasi dan terpercaya juga menyebabkan disparitas harga yang semakin melebar.&nbsp;</p>
        <p>Pusat Informasi Harga Pangan Strategis difokuskan pada diseminasi informasi harga bahan pangan strategis yaitu komoditas pangan yang dikonsumsi masyarakat secara luas atau memiliki bobot kontribusi inflasi yang tinggi. Misi dari pengembangan PIHPS adalah untuk meningkatkan akses informasi harga pangan yang terpadu kepada pelaku ekonomi untuk menjaga ekspektasi masyarakat yang diperlukan untuk mendukung dalam upaya pencapaian sasaran inflasi dan peningkatan efisiensi perekonomian.&nbsp;</p>
        <p>Terkait dengan hal yang disebutkan diatas, direncanakan pengembangan Pusat Informasi Harga Pangan Strategis (PIHPS) Jakarta sebagai <em>pilot project</em> di 2013. Pemilihan PIHPS Jakarta sebagai <em>pilot project</em> tidak terlepas dari peran penting wilayah DKI Jakarta sebagai barometer dalam menjaga stabilitas harga. Adapun program pengembangan PIHPS Jakarta tersebut didukung oleh Tim Pengendalian Inflasi Daerah (TPID) DKI Jakarta yang antara lain beranggotakan Pemerintah Daerah Provinsi DKI Jakarta, PD Pasar Jaya, dan Bank Indonesia. Adapun nama portal dari PIHPS Jakarta adalah <strong>&ldquo;Informasi Pangan Jakarta (IPJ)&rdquo;</strong>.</p>								</div>
    </div>
    <div style="width: 100%;" class="copyright text-center text-white bg-success p-1">
        <p style="margin: auto;">Developed by Commodity Info Copyright 2020</p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>