<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="../public//addConj.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Document</title>
    <style>
      body{
        background-image: url('../public/img/bg.jpg');
      }
    </style>
</head>
<body>
  <div class="container" id="con">
    <div class="col-md-5" id="con2">
      <form id="form" method="POST" action= "/conjunction/add" >
        <div class="form-group">
          <label for="TraderId" id="label1">Trader's Name : </label>
            <select name="TraderId" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option value="">---SELECT---</option>
              <% for(let i = 0; i < traders.length; i++){ %>
                <option value= <%= traders[i].dataValues.id %> ><%= traders[i].dataValues.name %></option>
              <%}%>
            </select>
          </div>
          <div class="form-group">
            <label for="CommodityId" id="label2">Commodity Name : </label>
            <select name="CommodityId">
              <option value="" class="form-control">---SELECT---</option>
            <% for(let i = 0; i < commodities.length; i++){ %>
                <option value= <%= commodities[i].dataValues.id %> ><%= commodities[i].dataValues.name %></option>
            <%}%>
            </select>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" name="price" class="form-control" id="inputAddress"  required>
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" name="date" class="form-control" id="inputAddress"  required>
          </div>
          <div class="form-group">
            <label for="location" id="loc">Location</label>
            <select name="location">
              <option value="Pasar Senen">Pasar Senen</option>
              <option value="Pasar Selase">Pasar Selase</option>
              <option value="Pasar Rabu">Pasar Rabu</option>
              <option value="Pasar Kamis">Pasar Kamis</option>
              <option value="Pasar Jumat">Pasar Jumat</option>
              <option value="Pasar Sabtu">Pasar Sabtu</option>
              <option value="Pasar Minggu">Pasar Minggu</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Save</button> <a href="/" type="submit" class="btn btn-danger">Cancel</a>
      </form>
    </div>
  </div>
</div>
</body>
</html>


