<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form" method="POST" action="/commodities/add">
        <div class="form-group">
          <label for="name">Comodity Name</label>
          <input type="text" name="name" class="form-control" id="inputAddress" required>
        </div>
        <button type="submit" class="btn btn-primary">Save</button> <a href="/" type="submit" class="btn btn-danger">Cancel</a>
    </form>
</body>
</html>