<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/style.css">
    <title>Homepage</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-success fixed-top">
            <div class="container">
                <h3><i class="fas fa-cart-arrow-down text-success mr-2"></i></h3>
                <a class="navbar-brand font-weight-bold" href="#">Comodity Information</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto mr-4">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Beranda<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                       <a class="nav-link" href="#">Reseller<span class="sr-only">(current)</span></a>
                      </li>
                    <li class="nav-item active">
                       <a class="nav-link" href="#">Hubungi Kami<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Bantuan<span class="sr-only">(current)</span></a>
                    </li>
                      
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                  <div class="icon mt-2">
                    <h5>
                      <i class="fas fa-cart-arrow-down ml-3 mr-3"></i>
                      <i class="fas fa-envelope mr-3"></i>
                      <i class="fas fa-bell mr-3"></i>
                    </h5>
                  </div>
                </div>
            </div>
        </nav>

        <div class="row mt-5 no-gutters">
          <div class="col-md-2 bg-light">
              <ul class="list-group list-group-flush p-2 pt-4">
                  <li class="list-group-item bg-success"><i class="fas fa-list"></i> DAFTAR KOMODITAS</li>
                  <li class="list-group-item"><i class="fas fa-angle-right"></i> Beras</li>
                  <li class="list-group-item"><i class="fas fa-angle-right"></i> Cabai</li>
                  <li class="list-group-item"><i class="fas fa-angle-right"></i> Minyak Goreng</li>
                  <li class="list-group-item"><i class="fas fa-angle-right"></i> Tepung Terigu</li>
                  <li class="list-group-item"><i class="fas fa-angle-right"></i> Bawang Merah</li>
                  <li class="list-group-item"><i class="fas fa-angle-right"></i> Ayam Broiler</li>
                  <li class="list-group-item"><i class="fas fa-angle-right"></i> Telur Ayam</li>
                </ul>
          </div>
          <div class="col-md-10">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../public/slide1.jpg" class="d-block w-100" alt="slide1">
                    </div>
                    <div class="carousel-item">
                      <img src="../public/slide2.jpg" class="d-block w-100" alt="slide2">
                    </div>
                    <div class="carousel-item">
                      <img src="../public/slide3.jpg" class="d-block w-100" alt="slide3">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>

                <h4 class="text-center font-weight-bold m-4">PRODUK TERBARU</h4>
                <div class="row mx-auto">
                    <div class="card" mr-2 ml-2 style="width: 16rem;">
                        <img src="img/produk/headphone.jpg" class="card-img-top" alt="headphone">
                        <div class="card-body bg-light text-center">
                            <h5 class="card-title">Cabai</h5>
                            <p class="card-text">Headphone Bluetooth Free Ongkir</p><br>
                            <i class="fas fa-star text-success"></i>
                            <i class="fas fa-star text-success"></i>
                            <i class="fas fa-star text-success"></i>
                            <i class="fas fa-star-half-alt text-success"></i>
                            <i class="far fa-star"></i><br><br>
                            <a href="#" class="btn btn-primary" data-target="#produk1" data-toggle="modal">Detail</a>
                            <a href="#" class="btn btn-danger">Rp. 300.000</a>
                        </div>
                    </div>
                    <div class="card" mr-2 ml-2 style="width: 16rem;">
                        <img src="../public/beras.png" class="card-img-top" alt="headphone">
                        <div class="card-body bg-light text-center">
                            <h5 class="card-title">Kamera</h5>
                            <p class="card-text">Kamera DSLR Canon Type 700D</p><br>
                            <i class="fas fa-star text-success"></i>
                            <i class="fas fa-star text-success"></i>
                            <i class="fas fa-star text-success"></i>
                            <i class="fas fa-star-half-alt text-success"></i>
                            <i class="far fa-star"></i><br><br>
                            <a href="#" class="btn btn-primary" data-target="#produk2" data-toggle="modal">Detail</a>
                            <a href="#" class="btn btn-danger">Rp. 8.000.000</a>
                        </div>
                    </div>
                    <div class="card" mr-2 ml-2 style="width: 16rem;">
                        <img src="img/produk/laptop.jpg" class="card-img-top" alt="headphone">
                        <div class="card-body bg-light text-center">
                            <h5 class="card-title">Laptop ASUS</h5>
                            <p class="card-text">Laptop ASUS RAM 2 GB Layar 14 Inch</p><br>
                            <i class="fas fa-star text-success"></i>
                            <i class="fas fa-star text-success"></i>
                            <i class="fas fa-star text-success"></i>
                            <i class="fas fa-star-half-alt text-success"></i>
                            <i class="far fa-star"></i><br><br>
                            <a href="#" class="btn btn-primary">Detail</a>
                            <a href="#" class="btn btn-danger">Rp. 300.000</a>
                        </div>
                    </div>
                    <div class="card" mr-2 ml-2 style="width: 16rem;">
                        <img src="img/produk/speaker.jpg" class="card-img-top" alt="headphone">
                        <div class="card-body bg-light text-center">
                            <h5 class="card-title">Speaker</h5>
                            <p class="card-text">Speaker Bluetooth Free Ongkir</p><br>
                            <i class="fas fa-star text-success"></i>
                            <i class="fas fa-star text-success"></i>
                            <i class="fas fa-star text-success"></i>
                            <i class="fas fa-star-half-alt text-success"></i>
                            <i class="far fa-star"></i><br><br>
                            <a href="#" class="btn btn-primary">Detail</a>
                            <a href="#" class="btn btn-danger">Rp. 300.000</a>
                        </div>
                    </div>                      
            </div>
            <div class="row mx-auto mt-5">
                <div class="card" mr-2 ml-2 style="width: 16rem;">
                    <img src="img/produk/jacket.jpg" class="card-img-top" alt="headphone">
                    <div class="card-body bg-light text-center">
                        <h5 class="card-title">JACKET</h5>
                        <p class="card-text">Jacket Kulit Import Bahan Kulit</p><br>
                        <i class="fas fa-star text-success"></i>
                        <i class="fas fa-star text-success"></i>
                        <i class="fas fa-star text-success"></i>
                        <i class="fas fa-star-half-alt text-success"></i>
                        <i class="far fa-star"></i><br><br>
                        <a href="#" class="btn btn-primary">Detail</a>
                        <a href="#" class="btn btn-danger">Rp. 300.000</a>
                    </div>
                </div>
                <div class="card" mr-2 ml-2 style="width: 16rem;">
                    <img src="img/produk/usb.jpg" class="card-img-top" alt="headphone">
                    <div class="card-body bg-light text-center">
                        <h5 class="card-title">USB iPhone</h5>
                        <p class="card-text">USB Khusus iPhone Bahan Nilon</p><br>
                        <i class="fas fa-star text-success"></i>
                        <i class="fas fa-star text-success"></i>
                        <i class="fas fa-star text-success"></i>
                        <i class="fas fa-star-half-alt text-success"></i>
                        <i class="far fa-star"></i><br><br>
                        <a href="#" class="btn btn-primary">Detail</a>
                        <a href="#" class="btn btn-danger">Rp. 300.000</a>
                    </div>
                </div>
                <div class="card" mr-2 ml-2 style="width: 16rem;">
                    <img src="img/produk/ssd.jpg" class="card-img-top" alt="headphone">
                    <div class="card-body bg-light text-center">
                        <h5 class="card-title">SSD Samsung</h5>
                        <p class="card-text">Eksternal SSD Samsung Kapasitas 500GB</p><br>
                        <i class="fas fa-star text-success"></i>
                        <i class="fas fa-star text-success"></i>
                        <i class="fas fa-star text-success"></i>
                        <i class="fas fa-star-half-alt text-success"></i>
                        <i class="far fa-star"></i><br><br>
                        <a href="#" class="btn btn-primary">Detail</a>
                        <a href="#" class="btn btn-danger">Rp. 300.000</a>
                    </div>
                </div>
                <div class="card" mr-2 ml-2 style="width: 16rem;">
                    <img src="img/produk/sdcard.jpg" class="card-img-top" alt="headphone">
                    <div class="card-body bg-light text-center">
                        <h5 class="card-title">SANDISK SDCARD</h5>
                        <p class="card-text">Sandisk SD CARD Kapasitas 128 GB</p><br>
                        <i class="fas fa-star text-success"></i>
                        <i class="fas fa-star text-success"></i>
                        <i class="fas fa-star text-success"></i>
                        <i class="fas fa-star-half-alt text-success"></i>
                        <i class="far fa-star"></i><br><br>
                        <a href="#" class="btn btn-primary">Detail</a>
                        <a href="#" class="btn btn-danger">Rp. 300.000</a>
                    </div>
                </div>
                <br>
            </div>
            <div class="modal fade" id="produk1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detail Produk</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <img src="img/produk/headphone.jpg" alt="headphone">
                      </div>
                      <div class="col-md-6">
                        <table class="table table-borderless">
                          <tr>
                            <th>Nama Produk</th>
                            <td>Headphone</td>
                          </tr>
                          <tr>
                              <th>Merk/Type</th>
                              <td>Boze/5B</td>
                          </tr>
                          <tr>
                              <th>Biaya Ongkir</th>
                              <td>Standar</td>
                          </tr>
                          <tr>
                              <th>Rating Produk</th>
                              <td>
                                  <i class="fas fa-star text-success"></i>
                                  <i class="fas fa-star text-success"></i>
                                  <i class="fas fa-star text-success"></i>
                                  <i class="fas fa-star-half-alt text-success"></i>
                                  <i class="far fa-star"></i><br>
                              </td>
                          </tr>
                          <tr>
                              <th>Stok Produk</th>
                              <td>120 Pcs</td>
                          </tr>
                          <tr>
                              <th>Harga</th>
                              <td>Rp. 300.000</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">KEMBALI</button>
                    <button type="button" class="btn btn-primary">BELI</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="produk2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detail Produk</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <img src="img/produk/kamera.jpg" alt="kamera">
                      </div>
                      <div class="col-md-6">
                        <table class="table table-borderless">
                          <tr>
                            <th>Nama Produk</th>
                            <td>Kamera DSLR</td>
                          </tr>
                          <tr>
                              <th>Merk/Type</th>
                              <td>Canon 700D Kit 16-50mm</td>
                          </tr>
                          <tr>
                              <th>Biaya Ongkir</th>
                              <td>Standar</td>
                          </tr>
                          <tr>
                              <th>Rating Produk</th>
                              <td>
                                  <i class="fas fa-star text-success"></i>
                                  <i class="fas fa-star text-success"></i>
                                  <i class="fas fa-star text-success"></i>
                                  <i class="fas fa-star-half-alt text-success"></i>
                                  <i class="far fa-star"></i><br>
                              </td>
                          </tr>
                          <tr>
                              <th>Stok Produk</th>
                              <td>120 Pcs</td>
                          </tr>
                          <tr>
                              <th>Harga</th>
                              <td>Rp. 8.000.000</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">KEMBALI</button>
                    <button type="button" class="btn btn-primary">BELI</button>
                  </div>
                </div>
              </div>
            </div>

        </div>

        <footer id="footer" class="bg-dark text-white p-5">
          <div class="row">
            <div class="col-md-3">
                <h5>LAYANAN PELANGGAN</h5>
                <ul>
                  <li>Pusat Bantuan</li>
                  <li>Cara Pembelian</li>
                  <li>Pengiriman</li>
                  <li>Cara Pengembalian</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>TENTANG KAMI</h5>
                <p>MyShop is a digital loyalty and marketplace platform, on a mission to create a world of Smarter Shoppers. Founded in 2019, My Shop has since established its online presence in 7 APAC countries and offices in 8 countries.</p>
            </div>
            <div class="col-md-3">
                <h5>MITRA KERJASAMA</h5>
                <ul>
                  <li>GOJEK</li>
                  <li>GRAB</li>
                  <li>JNE</li>
                  <li>PT. POS INDONESIA</li>
                  <li>J&T</li>
                  <li>TIKI</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>HUBUNGI KAMI</h5>
                <ul>
                  <li>0812-7106-2214</li>
                  <li>costumer@myshop.com</li>
                </ul>
            </div>
          </div>
        </footer>
        <div style="width: 100%;" class="copyright text-center text-white bg-success p-1">
          <p style="margin: auto;">Developed by Commodity Info Copyright 2020</p>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>