body{
	background-color: #ecdbff;
}
.loginForm{
	width: 400px;
	margin: 0 auto;
	margin-top: 30vh;
	border: 1px solid #3a3161;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #ffffff;
}

.loginIcon{
	margin-bottom: 10px;
	font-size: 3em;
	color: #3a3161;
}

.loginBtn {
	background-color: #3a3161;
	color: #fff;
}

